@import url('https://fonts.googleapis.com/css?family=Arizonia|Josefin+Sans:100,300,400|Poiret+One');


// /* ______________________________ VARIABLES ______________________________ */


$title-font: 'Arizonia', cursive;
$secondary-font: 'Josefin Sans', sans-serif;
// $secondary-font: 'Poiret One', cursive;
$signature: 'Poiret One', cursive;

$spacing: 20px;
$title-bar-spacing: 10px $spacing;

$z-index: -1;
$blog-title-size: 40px;
// $height: 100vh;

$background-color: #555;
$basic-color: #F9F6F1;
$dark-color: #85114c;
$green-color: #8E8C10;
$pop-color: #CB5311;
$accent-color: #CD8B13;
$muted-color: #b2a98f;

$link-height: 50px;

$social-m-font-size: 48px;
// h-shadow v-shadow blur-radius color|none|initial|inherit;
$t-shadow: 2px 4px 3px rgba(0,0,0,0.3);;
$t-shadow-nav:  0px 3px 0px $muted-color,
                0px 14px 10px rgba(0,0,0,0.15),
                0px 14px 2px rgba(0,0,0,0.1),
                0px 14px 30px rgba(0,0,0,0.1);


// /* ______________________________ INSTALED FONTS ______________________________ */

// INSTALL FONTS FROM THE WEB follow the below steps:
// 1. Go to fontSapce
// 2. Download font
// 3. Convert the ttf to eot 
//     a. Go to https://www.kirsle.net/wizards/ttf2eot.cgi
// 4. Download the converted file and place that file in the font directory of your project folder


// https://www.webdesignerdepot.com/2013/01/how-to-use-any-font-you-like-with-css3/
@font-face{
    font-family: 'rasby'; //Rasby by D&K_project from fontspace
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        url('./assets/fonts/rasby/rasby.eot');
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        local('Rasby'),
        url('./assets/fonts/rasby/rasby.ttf')
        //extend the section to include an indicator of the font file type to make the font more reliable
        format('truetype');
}
@font-face {
    font-family: safari; //by Out of Africa by House of Lime from fontspace
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        url('./assets/fonts/safari/OutOfAfrica.eot'); /* EOT file for IE */
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        local('OutofAfrica'),
        url('./assets/fonts/safari/OutOfAfrica.ttf')
        //extend the section to include an indicator of the font file type to make the font more reliable
        format('truetype');
}
@font-face {
    font-family: africa_type;
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        url('./assets/fonts/africa_typography/afro_type.eot'); /* EOT file for IE */
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        local('Rasby'),
        url('./assets/fonts/africa_typography/afro_type.ttf')
        //extend the section to include an indicator of the font file type to make the font more reliable
        format('truetype');
}
@font-face {
    font-family: african_design; //Afrika Gold A Patterns by Fonts of Africka
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        url('./assets/fonts/africanDesign/AfricaDesign.eot'); /* EOT file for IE */
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        local('Africa-Gold-A-Patterns'),
        url('./assets/fonts/africanDesign/AfricaDesign.ttf') /* EOT file for Chrome */
        //extend the section to include an indicator of the font file type to make the font more reliable
        format('truetype');
}
@font-face {
    font-family: african_pattern; //AfricanPattern(Macromedia Font) by House of Lime
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        url('./assets/fonts/africanPattern/AfricanPattern.eot'); /* EOT file for IE */
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        local('AfricanPattern'),
        url('./assets/fonts/africanPattern/AfricanPattern.ttf')
        //extend the section to include an indicator of the font file type to make the font more reliable
        format('truetype');
}
@font-face {
    font-family: chocolate; //Painting with Chocolate by Mooze from Abstract Font
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        url('./assets/fonts/chocolate/chocolate.eot'); /* EOT file for IE */
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        local('Painting_With_Chocolate'),
        url('./assets/fonts/chocolate/chocolate.ttf')
        //extend the section to include an indicator of the font file type to make the font more reliable
        format('truetype');
}

@font-face {
    font-family: afriga; //Painting with Chocolate by Mooze from Abstract Font
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        url('./assets/fonts/afriga/AFRIGA_.eot'); /* EOT file for IE */
    src: 
        //request for the browser to check for a local copy of fthe fon in case the user already has it
        local('Afrika Gold A Patterns Regular'),
        url('./assets/fonts/afriga/AFRIGA_.ttf')
        //extend the section to include an indicator of the font file type to make the font more reliable
        format('truetype');
}
$title-font: 'rasby';
// $title-font: 'africa_type';
// $title-font: 'africa_design';
$safari: 'safari';
// $title-font: 'safari';

$african-pattern: 'africa_pattern';
$african-design: 'african_design';
$afriga: 'afriga';

.trial > p{
    font-family: $afriga;
}



// /* ______________________________ MIXINs ______________________________ */



    // /* width */
    // ::-webkit-scrollbar {
    //     width: 20px;
    // }
    // /* Track */
    // ::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 5px grey; 
    //     border-radius: 10px;
    // }
    // /* Handle */
    // ::-webkit-scrollbar-thumb {
    //     background: red; 
    //     border-radius: 10px;
    // }
    // /* Handle on hover */
    // ::-webkit-scrollbar-thumb:hover {
    //     background: #b30000; 
    // }



// // @mixin scrollbar(){
    // ::-webkit-scrollbar ::-moz-scrollbar ::-ms-scrollbar ::-o-scrollbar{
    //     width: 20px;
    // }
    // ::-webkit-scrollbar-track ::-moz-scrollbar-track ::-ms-scrollbar-track ::-o-scrollbar-track{
    //     box-shadow: inset 0 0 5px grey; 
    //     border-radius: 10px;
    // }
    // ::-webkit-scrollbar-thumb ::-moz-scrollbar-thumb ::-ms-scrollbar-thumb ::-o-scrollbar-thumb{
    //     background: red; 
    //     border-radius: 10px;
    // }
    // ::-webkit-scrollbar-thumb:hover ::-moz-scrollbar-thumb:hover ::-ms-scrollbar-thumb:hover ::-o-scrollbar-thumb:hover{
    //     background: #b30000; 
    // }
// //   }

// box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
@mixin box-shadow($horiz: 20px, $vert: 20px, $blur: 20px, $spread: 10px, $color: #eee){
    // Safari
    -webkit-box-shadow: $horiz $vert $blur $spread $color;
    // Firefox
    -moz-box-shadow: $horiz $vert $blur $spread $color;
    // IE
    -ms-box-shadow: $horiz $vert $blur $spread $color;
    // Opera
    -o-box-shadow: $horiz $vert $blur $spread $color;
    // General
    box-shadow: $horiz $vert $blur $spread $color;
}

@mixin clip-path($circle: circle()){
    // Safari
    -webkit-clip-path: circle();
    // Firefox
    -moz-clip-path: circle();
    // IE
    -ms-clip-path: circle();
    // Opera
    -o-clip-path: circle();
    // General
    clip-path: circle();
}
@mixin shape-outside($circle: circle()){
    // Safari
    -webkit-shape-outside: circle();
    // Firefox
    -moz-shape-outside: circle();
    // IE
    -ms-shape-outside: circle();
    // Opera
    -o-shape-outside: circle();
    // General
    shape-outside: circle();
}


@mixin links($link, $visit, $hover, $active){
    a{
        background-color: $link;
        &:visited{
            background-color: $visit;
        }
        &:hover{
            background-color: $hover;
        }
        &:active{
            background-color: $active;
        }
    }
}

@mixin basic-image(){
    background-repeat: no-repeat; 
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

@mixin image-spec(){
    height: 30vw;
    width: 100%;
    margin-bottom: $spacing;
}




@mixin text-container(){
    // background: url(./assets/images/background/paper-1074131_1920.jpg);
    // background-color: $basic-color;
    @include basic-image();
    padding: $spacing;
    font-family: $secondary-font;
    font-weight: 100;
    margin: 0 auto;
}

@mixin transition(){
    -webkit-transition: 0.30s;
    -moz-transition: 0.30s;
    -ms-transition: 0.30s;
    -o-transition: 0.30s;
}

@mixin push(){
    // display: block;
    font-weight: bolder;
    background-color: $muted-color;
    color: $dark-color;
    // text-shadow: $t-shadow;
    text-transform: uppercase;
    padding: $title-bar-spacing;
    @include transition();
    border: none;
    &:hover{
        color: $basic-color;
        background-color: $accent-color;
    }
}

@mixin social-media-icons($height, $width){
        display: inline-block;
        height: $height;
        width: $width;
}

@mixin subscribe(){
    font-family: $secondary-font;
    border: 1px solid black;
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-areas:
        "prompt"
        "subscribe";
    justify-content: center;
    width: 100%;
    grid-row-gap: 10px; 
    text-transform: uppercase;
    h3{
        // width:
        grid-area: prompt;
    }
    form{
        grid-area: subscribe;
        input{
            padding: $title-bar-spacing;
        }
        button{
            // display: block;
            width: 90%;
            margin-top: $spacing;
            @include push();
        }
        button:hover{
            color: $basic-color;
            background-color: $accent-color;
        }
    }
}


@mixin vertical-nav-bar(){
    nav{
        // z-index: 200;
        font-family: $title-font;
        // font-size: 3em;
        // text-shadow: $t-shadow-nav;
        // background-color: $dark-color;
        text-align: center;
        font-family: $secondary-font;
        height: 100%;
        padding: 10px;
        ul{
            list-style-type: none;
            display: inline;
            li{
                display: inline-block;
                border-radius: 7px;
                a:hover{
                    cursor: alias;
                }           
            }
            // li:nth-child(odd){
            //     font-size:30px;
            //     vertical-align: 20%;
            // }
            #news:hover{
                @include transition();
                cursor: not-allowed;
                background-color: gray;
                a{
                    color: $accent-color;
                    padding: 5px 5px;
                }
            } 
            li:hover{
                background-color: $green-color;
                a{
                    @include transition();
                    color: $basic-color;
                    padding: 5px 5px;
                }
            }
            li a{
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
// /* ______________________________ SPECIFICS ______________________________ */

*{
    margin: 0;
    padding: 0;
    // border: red dashed 1px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey; 
    border-radius: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $pop-color; 
    border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $muted-color; 
}

    // STYLES THE INPUT TEXT
input::-webkit-input-placeholder:hover {
    color: $basic-color;
}
        
input:-moz-placeholder:hover { /* Firefox 18- */
    color: $basic-color;  
}
        
input::-moz-placeholder:hover {  /* Firefox 19+ */
    color: $basic-color;  
}
        
input:-ms-input-placeholder:hover {  
    color: $basic-color;  
}

img{
    @include basic-image();
}
a{
    text-decoration: none;
    color: black;
}
em{
    font-size: 20px;
}

input[type=email], input[type=text]{
    outline: none;
    @include transition();
    box-shadow: 0 0 5px $pop-color;
    border: 1px solid $pop-color;
    z-index: 500;
}
input[type=email]:hover, input[type=text]:hover, input[placeholder="email address"]:hover{
    box-shadow: 0 0 5px black;
    border: 1px solid black;
    z-index: 500;
    background: $accent-color;
    color: white;
}

// ICON
.container {
    display: inline-block;
    cursor: pointer;
    padding-left: $spacing;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    @include transition();
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }




// /* ______________________________ STYLING by SECTION ______________________________ */



body{
    width: 100vw;
    background-color: $dark-color;
    .body-container{
        // display: inline-block;

        // display: grid;
    //     grid-template-areas: 
    //         "land land land land land land"
    //         "bar bar bar bar bar bar"
    //         "main main main main main panel"
    //         "footer footer footer footer footer footer";
    }
}


.top-container{
        grid-area: land;
        height: 100vh;
        width: 100%;
        background-color: $accent-color;
        // background-image: url(./assets/images/women/wise_woman.jpg);
        @include basic-image();
        background-color: $accent-color;
    
        margin: 10px solid rgba(0, 0, 0, 0.3); 
        display: grid;
        justify-content: center;
        align-content: center;
        text-transform: uppercase;
    #nav-container{
        padding-top: $spacing;
        background-color: $accent-color;
        .hamburger-vert-menu{
            // display: inline-block;
            .container{
                // display: inline-block;
            }
            @include vertical-nav-bar();
            nav{
                display: inline-block;
                vertical-align: top;
                width: 85%;
                ul{
                    // display: inline-block;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    justify-content: space-evenly;
                    // li{
                    //     font-size: 30px;
                        a{
                            text-transform: lowercase;
    
                        // }
                    }
                    display: none;
                    //when the hamburger button is cikced, have the ul display property set to inline-block as well as the aforementioned positions
                }
    
            }
        }
        .landing{
            @include text-container();
            h1{
                font-family: $secondary-font;
                font-size: 8vw;
            }
        }
    }
    
}



header{
    grid-area: bar;
    @include box-shadow(0px, 2px, 200 px, -1px, #333);
    // h1{
    //     font-family: $title-font;
    //     width: 100%;
    //     height: 100%;
    //     // display: block;
    //     font-size: 3em;
    //     // text-shadow: 5px 5px 10px black;
    //     text-align: center;
    // }
    @include vertical-nav-bar();
    nav{
        // z-index: 200;
        // font-family: $title-font;
        font-size: 3em;
        text-shadow: $t-shadow-nav;
        background-color: $dark-color;
        // text-align: center;
        // font-family: $secondary-font;
        // height: 100%;
        // padding: 10px;
        ul{
        //     list-style-type: none;
        //     display: inline;
        //     li{
        //         display: inline-block;
        //         border-radius: 7px;
        //         a:hover{
        //             cursor: alias;
        //         }           
        //     }
            li:nth-child(odd){
                font-size:30px;
                vertical-align: 20%;
            }
        //     #news:hover{
        //         @include transition();
        //         cursor: not-allowed;
        //         background-color: gray;
        //         a{
        //             color: $accent-color;
        //             padding: 5px 5px;
        //         }
        //     } 
        //     li:hover{
        //         background-color: $green-color;
        //         a{
        //             @include transition();
        //             color: $basic-color;
        //             padding: 5px 5px;
        //         }
        //     }
        //     li a{
        //         text-decoration: none;
        //         text-transform: uppercase;
        //     }
        }
    }
}




main{
    grid-area: main;
    padding: $spacing;
    z-index: $z-index;
    display: inline-block;

    // .text-container{
    //     @include basic-image();
    //     padding: $spacing;
    //     overflow: scroll;
    //     width: 80vw;
    //     margin: 0 auto;
    //     p > em{
    //         font-size: 2em;
    //     }
    // }
    background-color: $basic-color;
    section{
        padding: $spacing;
        // background-color: $basic-color;
        // background-image: url(./assets/images/background/paper-1074131_1920.jpg);
        .blog-title{
            font-family: $secondary-font;
            font-size: $blog-title-size;
            // background-color: $tangential-color;
            color: $accent-color; 
            text-shadow: $t-shadow;
            // width: 100%;s 
            text-align: center;
            
        }
        .blog-post{
            @include text-container();
            .box{
                // width: 50%;
                text-transform: uppercase;
                padding: 0 $spacing;
                background-color: $dark-color;
                // h3 and p are regarding the single.html page
                h3{
                    padding-top: $spacing;
                    color: $basic-color;
                }
                p{
                    padding: $spacing;
                }
                a{
                    padding: $spacing;
                    background-color: $dark-color;
                    color: $basic-color;
                    text-shadow: $t-shadow;
                    text-align: center;
                    font-weight: 400;
                    margin-top: $spacing;
                }
                a:hover{
                    @include transition();
                    background-color: $green-color;
                }
            }
            .box:hover{
                @include transition();
                color: $basic-color;
                background-color: $accent-color;
        
            }
        }
    }
    
}

.content-container{
    background-color: $basic-color;
    width: 100%;
    padding: 0;
}

aside{
    float: right;
    vertical-align: top;
    display: inline-block;
    grid-area: panel;
    padding: $spacing;
    font-family: $secondary-font;
    text-align: center;
    background-color: $basic-color;
    // z-index: $z-index;
    .s-about{
        border: 1px solid black;
        // display: grid;

        margin: $spacing;
        padding: $spacing;

        .social-media{
            a{
                i{
                    font-size: $social-m-font-size;
                }
                i:hover{
                    @include transition();
                    color: $dark-color;
                }

            }
        }
    }
    .subscribe{
        font-family: $secondary-font;
        border: 1px solid black;
        padding: 20px 0 20px 0;
        display: grid;
        grid-template-areas:
            "prompt"
            "subscribe";
        justify-content: center;
        width: 100%;
        grid-row-gap: 10px; 
        text-transform: uppercase;
        h3{
            // width:
            grid-area: prompt;
        }
        form{
            grid-area: subscribe;
            input{
                padding: $title-bar-spacing;
            }
            button{
                // display: block;
                width: 90%;
                margin-top: $spacing;
                @include push();
            }
        }    
    }
    .panel-section{
        padding-bottom: $spacing;
        h3{
            // padding-top: 10px;
            // padding-bottom: 10px;
            padding: $title-bar-spacing;
            background-color: $dark-color;
            color: $basic-color;
            text-shadow: $t-shadow;
            text-transform: uppercase;
            margin: $spacing 0;
        }
        form{
            // text-align: center;
            input{
                padding: $title-bar-spacing;
            }
            button, button#small-button{
                @include push();
                padding: 10px 5px;
            }
        }
        img{
            width: 80%;
        }
        .no-bullets{
            list-style-type: none;
            li:hover{
                color: $pop-color;
            }
        }
        .line-items{
            li{
                list-style-type: none;
            }

        }
    }
}
// /* ______________________________ STICKY ______________________________ */


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 2px;
}


// /* ______________________________ SHAPES ______________________________ */


.circle{
    float: right;
    height: 200px;
    width: 200px;
    // @include shape-outside(circle(200px at 0 100px));
    @include clip-path(circle(50% at 0 80%)); // the two values being the horizontal and vertical positions, respectively
    shape-margin: 1rem;
    @include basic-image();
    @include box-shadow(5px, 5px, 5px, 10px, #333);
    // @include box-shadow(20px, 20px, 50px, grey);
}

// /* ______________________________ IMAGES ______________________________ */

#typewriter{
    background-image: url(./assets/images/patrick-fore-381200-unsplash.jpg);
    // @include basic-image();
}

#cortez{
    background-image: url(./assets/images/blog-images/AOC.jpg);
    @include basic-image();
    z-index: $z-index;
}
#representative{
    background-image: url(./assets/images/blog-images/flags/andrew-ruiz-307552-unsplash.jpg);
    @include basic-image();
    z-index: $z-index;

}
#children{
    background-image: url(./assets/images/blog-images/geronimo-gonzalez-giqueaux-1367646-unsplash.jpg);
    @include basic-image();
    z-index: $z-index;
}

#profile-pic{
    // @include basic-image();
    // @include box-shadow(0px, 2px, 2px, -1px, #333);
    // z-index: -100;
}
#cortez, #representative, #children, #profile-pic, .full{
    @include image-spec();
}

.signature{
    font-family: $signature;
}

//important for the about section
.text-container{
    @include text-container();
}



footer{
    // @include image-spec();
    @include basic-image();
    grid-area: footer;
    align-items: center;
    background-color: $dark-color;
    font-family: $secondary-font;
    text-transform: uppercase;
    @include transition();
    text-align: center;
    background:url("./assets/images/women/childes_eyes.jpg");
    .footer-bg{
        padding: $spacing 0;
        background: rgba(134,17,76, 0.8);//don't alter, included opacity
        .footer-text{
            opacity: 1;
            z-index: 20;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: $spacing;
            h3{
                font-size:70px;
            }
            p{
                color: #eee;
                font-size:20px;
                text-align: left;
            }
        }
        .subscribe{
            padding: $spacing;
            form{
                padding: 0px;
                input{
                    padding: $title-bar-spacing;
                    border: none;
                }
                button{
                    @include push();
                }
            }
        }
        .social-media{
            a{
                i{
                    font-size: $social-m-font-size;
                }
                i:hover{
                    @include transition();
                    color: $green-color;
                }

            }
        }
        
    }
}



// div.title{
//     text-align: center;
//     background-color: blue;
//     h1{
//         font-size: 1em;
//         display: inline-block;
//         text-align: end;
//     }
//     p{
//         font-size: .5em;
//         display: inline-block;
//         width: 50%; 
//         text-align: start;
//     }
// }

footer:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .4;
}

@media only screen and (min-width: 768px){
    * {
        box-sizing: border-box;
    }
    // // body {font-family: "Lato", sans-serif;}

    // /* Style the tab */
    // .tab {
    // float: left;
    // border: 1px solid #ccc;
    // background-color: #f1f1f1;
    // width: 30%;
    // height: 300px;
    // }

    // /* Style the buttons inside the tab */
    // .tab button {
    // display: block;
    // background-color: inherit;
    // color: black;
    // padding: 22px 16px;
    // width: 100%;
    // border: none;
    // outline: none;
    // text-align: left;
    // cursor: pointer;
    // font-size: 17px;
    // }

    // /* Change background color of buttons on hover */
    // .tab button:hover {
    // background-color: #ddd;
    // }

    // /* Create an active/current "tab button" class */
    // .tab button.active {
    // background-color: #ccc;
    // }

    // /* Style the tab content */
    // .tabcontent {
    // float: left;
    // padding: 0px 12px;
    // border: 1px solid #ccc;
    // width: 70%;
    // border-left: none;
    // height: 300px;
    // display: none;
    // }

    // /* Clear floats after the tab */
    // .clearfix::after {
    // content: "";
    // clear: both;
    // display: table;
    // }
    
}

@media only screen and (min-width: 750px) {
    @for $i from 1 through 32 {
        .col-#{$i} { 
            width: 100%/32 * $i; 
        }
    }
} 

//mobile
@media only screen and (max-width: 600px) {
    body{
        display: inline-block;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "landing"
        "nav"
        "main"
        "ancillary"
        "footer";
        div.top-container{
            grid-area: landing;
            height: 100vh; /* Fallback for browsers that do not support Custom Properties */
            height: calc(var(--vh, 1vh) * 100);        }
        #header{
            grid-area: nav;
        }
        main{
            grid-area: main;
        }
        aside{
            
            grid-area: ancillary;
            .panel-section, .subscribe{
                display: none;

            }
            .s-about{
                .social-media{
                    display: none;
                }
            }
        }
        footer{
            @include basic-image();
        }

        main{
            // width: 100vw;s

        }
    }

} 

