@import url("https://fonts.googleapis.com/css?family=Arizonia|Josefin+Sans:100,300,400|Poiret+One");
@font-face {
  font-family: 'rasby';
  src: url("./assets/fonts/rasby/rasby.eot");
  src: local("Rasby"), url("./assets/fonts/rasby/rasby.ttf") format("truetype"); }
@font-face {
  font-family: safari;
  src: url("./assets/fonts/safari/OutOfAfrica.eot");
  /* EOT file for IE */
  src: local("OutofAfrica"), url("./assets/fonts/safari/OutOfAfrica.ttf") format("truetype"); }
@font-face {
  font-family: africa_type;
  src: url("./assets/fonts/africa_typography/afro_type.eot");
  /* EOT file for IE */
  src: local("Rasby"), url("./assets/fonts/africa_typography/afro_type.ttf") format("truetype"); }
@font-face {
  font-family: african_design;
  src: url("./assets/fonts/africanDesign/AfricaDesign.eot");
  /* EOT file for IE */
  src: local("Africa-Gold-A-Patterns"), url("./assets/fonts/africanDesign/AfricaDesign.ttf") format("truetype"); }
@font-face {
  font-family: african_pattern;
  src: url("./assets/fonts/africanPattern/AfricanPattern.eot");
  /* EOT file for IE */
  src: local("AfricanPattern"), url("./assets/fonts/africanPattern/AfricanPattern.ttf") format("truetype"); }
@font-face {
  font-family: chocolate;
  src: url("./assets/fonts/chocolate/chocolate.eot");
  /* EOT file for IE */
  src: local("Painting_With_Chocolate"), url("./assets/fonts/chocolate/chocolate.ttf") format("truetype"); }
@font-face {
  font-family: afriga;
  src: url("./assets/fonts/afriga/AFRIGA_.eot");
  /* EOT file for IE */
  src: local("Afrika Gold A Patterns Regular"), url("./assets/fonts/afriga/AFRIGA_.ttf") format("truetype"); }
.trial > p {
  font-family: "afriga"; }

* {
  margin: 0;
  padding: 0; }

/* width */
::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 7px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CB5311;
  border-radius: 2px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b2a98f; }

input::-webkit-input-placeholder:hover {
  color: #F9F6F1 !important; }

input:-moz-placeholder:hover {
  /* Firefox 18- */
  color: #F9F6F1 !important; }

input::-moz-placeholder:hover {
  /* Firefox 19+ */
  color: #F9F6F1 !important; }

input:-ms-input-placeholder:hover {
  color: #F9F6F1 !important; }

img {
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

a {
  text-decoration: none;
  color: black; }

em {
  font-size: 20px; }

input[type=email], input[type=text] {
  outline: none;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
  box-shadow: 0 0 5px #CB5311;
  border: 1px solid #CB5311;
  z-index: 500; }

input[type=email]:hover, input[type=text]:hover, input[placeholder="email address"]:hover {
  box-shadow: 0 0 5px black;
  border: 1px solid black;
  z-index: 500;
  background: #CD8B13;
  color: white; }

.container {
  display: inline-block;
  cursor: pointer;
  padding-left: 20px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

body {
  background-color: #85114c; }

.top-container {
  grid-area: land;
  height: 100vh;
  width: 100%;
  background-color: #CD8B13;
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-color: #CD8B13;
  margin: 10px solid rgba(0, 0, 0, 0.3);
  display: grid;
  justify-content: center;
  align-content: center;
  text-transform: uppercase; }
  .top-container .landing {
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    margin: 0 auto; }
    .top-container .landing h1 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 8vw; }

header {
  grid-area: bar;
  -webkit-box-shadow: 0px 2px 200 px -1px #333;
  -moz-box-shadow: 0px 2px 200 px -1px #333;
  -ms-box-shadow: 0px 2px 200 px -1px #333;
  -o-box-shadow: 0px 2px 200 px -1px #333;
  box-shadow: 0px 2px 200 px -1px #333; }
  header nav {
    font-family: "rasby";
    font-size: 3em;
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 14px 2px rgba(0, 0, 0, 0.1), 0px 14px 30px rgba(0, 0, 0, 0.1);
    background-color: #85114c;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    height: 100%;
    padding: 10px; }
    header nav ul {
      list-style-type: none;
      display: inline; }
      header nav ul li {
        display: inline-block;
        border-radius: 7px; }
        header nav ul li a:hover {
          cursor: alias; }
      header nav ul li:nth-child(odd) {
        font-size: 30px;
        vertical-align: 20%; }
      header nav ul #news:hover {
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
        cursor: not-allowed;
        background-color: gray; }
        header nav ul #news:hover a {
          color: #CD8B13;
          padding: 5px 5px; }
      header nav ul li:hover {
        background-color: #8E8C10; }
        header nav ul li:hover a {
          -webkit-transition: 0.30s;
          -moz-transition: 0.30s;
          -ms-transition: 0.30s;
          -o-transition: 0.30s;
          color: #F9F6F1;
          padding: 5px 5px; }
      header nav ul li a {
        text-decoration: none;
        text-transform: uppercase; }

main {
  grid-area: main;
  padding: 20px;
  z-index: -1;
  background-color: #F9F6F1; }
  main section {
    padding: 20px; }
    main section .blog-title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 40px;
      color: #CD8B13;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      text-align: center; }
    main section .blog-post {
      background-repeat: no-repeat;
      background-position: center;
      /* Center the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */
      padding: 20px;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 100;
      margin: 0 auto; }
      main section .blog-post .box {
        text-transform: uppercase;
        padding: 0 20px;
        background-color: #85114c; }
        main section .blog-post .box h3 {
          padding-top: 20px;
          color: #F9F6F1; }
        main section .blog-post .box p {
          padding: 20px; }
        main section .blog-post .box a {
          padding: 20px;
          background-color: #85114c;
          color: #F9F6F1;
          text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
          text-align: center;
          font-weight: 400;
          margin-top: 20px; }
        main section .blog-post .box a:hover {
          -webkit-transition: 0.30s;
          -moz-transition: 0.30s;
          -ms-transition: 0.30s;
          -o-transition: 0.30s;
          background-color: #8E8C10; }
      main section .blog-post .box:hover {
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
        color: #F9F6F1;
        background-color: #CD8B13; }

aside {
  grid-area: panel;
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background-color: #F9F6F1; }
  aside .s-about {
    border: 1px solid black;
    margin: 20px;
    padding: 20px; }
    aside .s-about .social-media a i {
      font-size: 48px; }
    aside .s-about .social-media a i:hover {
      -webkit-transition: 0.30s;
      -moz-transition: 0.30s;
      -ms-transition: 0.30s;
      -o-transition: 0.30s;
      color: #85114c; }
  aside .subscribe {
    font-family: "Josefin Sans", sans-serif;
    border: 1px solid black;
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-areas: "prompt" "subscribe";
    justify-content: center;
    width: 100%;
    grid-row-gap: 10px;
    text-transform: uppercase; }
    aside .subscribe h3 {
      grid-area: prompt; }
    aside .subscribe form {
      grid-area: subscribe; }
      aside .subscribe form input {
        padding: 10px 20px; }
      aside .subscribe form button {
        width: 90%;
        margin-top: 20px;
        font-weight: bolder;
        background-color: #b2a98f;
        color: #85114c;
        text-transform: uppercase;
        padding: 10px 20px;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
        border: none; }
        aside .subscribe form button:hover {
          color: #F9F6F1;
          background-color: #CD8B13; }
  aside .panel-section {
    padding-bottom: 20px; }
    aside .panel-section h3 {
      padding: 10px 20px;
      background-color: #85114c;
      color: #F9F6F1;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      margin: 20px 0; }
    aside .panel-section form input {
      padding: 10px 20px; }
    aside .panel-section form button, aside .panel-section form button#small-button {
      font-weight: bolder;
      background-color: #b2a98f;
      color: #85114c;
      text-transform: uppercase;
      padding: 10px 20px;
      -webkit-transition: 0.30s;
      -moz-transition: 0.30s;
      -ms-transition: 0.30s;
      -o-transition: 0.30s;
      border: none;
      padding: 10px 5px; }
      aside .panel-section form button:hover, aside .panel-section form button#small-button:hover {
        color: #F9F6F1;
        background-color: #CD8B13; }
    aside .panel-section img {
      width: 80%; }
    aside .panel-section .no-bullets {
      list-style-type: none; }
      aside .panel-section .no-bullets li:hover {
        color: #CB5311; }
    aside .panel-section .line-items li {
      list-style-type: none; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 102px; }

.circle {
  float: right;
  height: 200px;
  width: 200px;
  -webkit-clip-path: circle();
  -moz-clip-path: circle();
  -ms-clip-path: circle();
  -o-clip-path: circle();
  clip-path: circle();
  shape-margin: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  -webkit-box-shadow: 5px 5px 5px 10px #333;
  -moz-box-shadow: 5px 5px 5px 10px #333;
  -ms-box-shadow: 5px 5px 5px 10px #333;
  -o-box-shadow: 5px 5px 5px 10px #333;
  box-shadow: 5px 5px 5px 10px #333; }

#typewriter {
  background-image: url(./assets/images/patrick-fore-381200-unsplash.jpg); }

#cortez {
  background-image: url(./assets/images/blog-images/AOC.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  z-index: -1; }

#representative {
  background-image: url(./assets/images/blog-images/flags/andrew-ruiz-307552-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  z-index: -1; }

#children {
  background-image: url(./assets/images/blog-images/geronimo-gonzalez-giqueaux-1367646-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  z-index: -1; }

#profile-pic {
  z-index: -1; }

#cortez, #representative, #children, #profile-pic, .full {
  height: 30vw;
  width: 100%;
  margin-bottom: 20px; }

.signature {
  font-family: "Poiret One", cursive; }

.text-container {
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  padding: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  margin: 0 auto; }

footer {
  background-repeat: no-repeat;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  grid-area: footer;
  align-items: center;
  background-color: #85114c;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
  text-align: center;
  background: url("./assets/images/women/childes_eyes.jpg"); }
  footer .footer-bg {
    padding: 20px 0;
    background: rgba(134, 17, 76, 0.8); }
    footer .footer-bg .footer-text {
      opacity: 1;
      z-index: 20;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px; }
      footer .footer-bg .footer-text h3 {
        font-size: 70px; }
      footer .footer-bg .footer-text p {
        color: #eee;
        font-size: 20px;
        text-align: left; }
    footer .footer-bg .subscribe {
      padding: 20px; }
      footer .footer-bg .subscribe form {
        padding: 0px; }
        footer .footer-bg .subscribe form input {
          padding: 10px 20px;
          border: none; }
        footer .footer-bg .subscribe form button {
          font-weight: bolder;
          background-color: #b2a98f;
          color: #85114c;
          text-transform: uppercase;
          padding: 10px 20px;
          -webkit-transition: 0.30s;
          -moz-transition: 0.30s;
          -ms-transition: 0.30s;
          -o-transition: 0.30s;
          border: none; }
          footer .footer-bg .subscribe form button:hover {
            color: #F9F6F1;
            background-color: #CD8B13; }
    footer .footer-bg .social-media a i {
      font-size: 48px; }
    footer .footer-bg .social-media a i:hover {
      -webkit-transition: 0.30s;
      -moz-transition: 0.30s;
      -ms-transition: 0.30s;
      -o-transition: 0.30s;
      color: #8E8C10; }

footer:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4; }

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box; } }
@media only screen and (max-width: 600px) {
  body {
    display: inline-block;
    display: grid;
    grid-template-areas: "landing" "nav" "main" "ancillary" "footer"; }
    body div.top-container {
      grid-area: landing;
      height: 100vh;
      /* Fallback for browsers that do not support Custom Properties */
      height: calc(var(--vh, 1vh) * 100); }
    body #header {
      grid-area: nav; }
    body main {
      grid-area: main; }
    body aside {
      grid-area: ancillary; }
      body aside .panel-section, body aside .subscribe {
        display: none; }
      body aside .s-about .social-media {
        display: none; }
    body footer {
      background-repeat: no-repeat;
      background-position: center;
      /* Center the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */ } }

/*# sourceMappingURL=style.css.map */
